* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition-duration: 200ms;
}

header {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

nav {
    display: flex;
    align-items: center;
    gap: 28px;
}